.navbar-inverse {
    background-color: #101052;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

/*
    Elements
*/

a.blueButton {
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #101052;
    clear: both;
    color: white;
}

/*
    Home Panel
*/

.hboHomePanel {
    padding: 20px;
    text-align: center;
}

.hboHomePanel img {
    width: 350px;
}