.navbar-inverse { background-color: #101052; }

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a { color: #fff; }

/*
    Elements
*/

h1,h2,h3,h4,h5 {
    color: #101052;
}

h4 {
    background-color: #101052;
    padding: 10px;
    color: white;
}

a.blueButton {
    background-color: #101052;
    clear: both;
    color: white;
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    text-align: center;
}

textarea.form-control {
    width: 100%;
    max-width: inherit;
}

/*
    Home Panel
*/


.hboHomePanel {
    padding: 20px;
    text-align: center;
}

.hboHomePanel img { width: 350px; }

/*
    Details Pages
*/

.jumbotron {
    background-color: #101052;
    color: white;
    font-size: 40px;
    padding-bottom: 0;
    text-align: center;
    margin-top: 20px;
}

.detailPageInformation {
    margin-top: 15px;
    text-align: center;
}

.columnTitle {
    margin-top: 10px;
    text-align: center;
}
.hboDetailRow {
    min-height: 45px;
    margin: 7px 40px;
    clear: both;
    border-bottom: 1px solid #eeeeee;
}

.hboDetailRow:last-child{
    border: 0;
}

.headerStyle, .fieldStyle, .topTFStyle, .bottomTFStyle {
    padding:7px;
    min-height: 35px;
}


.headerStyle {
    text-align: right;
    min-height: 49px;
    padding-top: 14px;
    font-weight: bold;
}

.fieldStyle {
    height: 100%;
}

.topTFStyle { 
    height: 100%;
    word-wrap: break-word;

}

.buttonPanel {
    text-align: center;
}

@media (max-width: 992px  ) {
    .headerStyle {
        text-align: left;
    } 
}