@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        @*HBO Logo Goes Here*@
        <h2>Welcome To HBO Fact Find</h2>
        <strong>To Begin, Click The Button Below</strong>
        @Html.ActionLink("Begin", "Index", "Login")
    </div>
</div>