@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 hboHomePanel">
        <h2>Welcome To HBO Fact Find</h2>
        <strong>To Begin, Click The Button Below</strong>
        
        <div>
            <a class="blueButton" href="@Url.Action("Index", "FactFind")">Begin</a>
        </div>

        @*<img src="~/Content/Images/HobLogo.png" alt="HBO Logo" />*@

    </div>
</div>