@model HboFactFind.Domain.Pages.PageTen

<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.ExistingPlansNotes)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ExistingPlansNotes)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ExistingPlansNotes)
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12" style="text-align: center">
    <p>
        @Html.ActionLink("Edit", "PageTen", new { id = Model.Id })
    </p>
</div>