@model HboFactFind.Domain.Pages.PageFour


<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.AnyFinancialDependants)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.AnyFinancialDependants)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.AnyFinancialDependants)
            </div>
        </div>
    </div>
</div>